body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* ------------------------- HEADER --------------------- */


header {
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  align-items: center;
  padding-top: 49px;
  padding-bottom

  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.main-navigation a {
  color: #000000;
  padding-bottom: 10px;
  box-sizing: border-box;

  border-bottom: 2px solid transparent;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

.main-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.main-navigation a.active {
  border-bottom: 2px solid #fb565a;
}

.main-navigation img:hover,
.main-navigation img:focus {
  opacity: 0.8;
}

.main-navigation img:active {
  opacity: 0.3;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  width: 440px;
  margin: 0;
  margin-left: 200px;
  padding: 0;
  padding-bottom: 5px;
  list-style: none;
}

.cart {
  margin-left: auto;
  padding-left: 40px;
  padding-top: 7px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 14px;
}


/* --------------------- СЛАЙДЕР (slider) ---------------- */


.slider {
  position: relative;

  margin-bottom: 80px;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 56px 0 80px;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93.5% -4px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 16px 10px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}


/* ----------------- БЛОК С НАПРАВЛЕНИЯМИ (features)------------------- */


.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;

  list-style: none;

  border-bottom: 2px solid #eeeeee;
}

.features-item {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.features-item:last-child {
  margin-right: 60px;
}

.features-item img {

  order: 0;
}

.features-item h3 {
  margin: 0;
  margin: 25px 0 16px;
  order: 1;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.features-item p {
  max-width: 280px;
  margin: 0;
  order: 1;
  margin-bottom: 32px;
}

.features-item a {
  order: 1;
}

.features-item .button {
  width: 142px;
  padding: 16px 9px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  border-radius: 2px;
}

.features-item .button-red {
  background-color: #fb565a;
}

.features-item .button-red:hover,
.features-item .button-red:focus {
  background-color: #e74246;
}

.features-item .button-red:active {
  color: rgba(255, 255, 255, 0.3);

  box-shadow: inset 0 2px 0 0 #c13135;
  background-color: #d7373b;
}

.features-item .button-green {
  background-color: #00ca74;
}

.features-item .button-green:hover,
.features-item .button-green:focus {
  background-color: #00bc6c;
}

.features-item .button-green:active {
  color: rgba(255, 255, 255, 0.3);

  box-shadow: inset 0 2px 0 0 #009958;
  background-color: #00aa62;
}

.features-item .button-yellow {
  background-color: #efc84a;
}

.features-item .button-yellow:hover,
.features-item .button-yellow:focus {
  background-color: #eab534;
}

.features-item .button-yellow:active {
  color: rgba(255, 255, 255, 0.3);

  box-shadow: inset 0 2px 0 0 #ce961f;
  background-color: #e5a722;
}


/* ------------------------ ОПИСАНИЕ (description) ------------------------ */


.overview {
  display: flex;
  justify-content: space-between;
  padding-bottom: 49px;
}

.description {
  width: 660px;
  padding-top: 75px;
}

.description p {
  margin: 0;
  padding-bottom: 40px;
}

.description ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.description li {
  position: relative;
  padding-left: 35px;
  padding-bottom: 24px;
}

.description li::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.description .description-slogan {
  display: block;
  padding-bottom: 32px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.description .description-activites {
  display: block;
  padding-bottom: 23px;
  text-transform: uppercase;
}

/* ------------------------------- СТАТИСТИКА -------------------------------- */


.statistics {
  width: 360px;

  background-image: url("../img/nerds-illustration.jpg");
  background-repeat: no-repeat;
  background-position: 0 40px;
}

.statistics-slogan {
  display: block;
  padding-top: 285px;
  padding-bottom: 30px;

  text-align: center;
  text-transform: uppercase;
}

.statistics-table td {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 20px;
  line-height: 18px;
}

.statistics-table-percent {
  font-size: 45px;
  font-weight: 700;
  line-height: 10px;

}


.statistics-table-percent sup {
  font-size: 27px;
}


/* ------------------------------ ПРИМЕРЫ РАБОТ --------------------------- */


.example-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 31px;
  padding-right: 43px;
  padding-top: 50px;
  padding-bottom: 37px;

  list-style: none;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.example-item:not(:first-child)::before {
  content: "";

  position: absolute;

  width: 2px;
  height: 55px;


  background-color: #eeeeee;
}


/* ---------------------- КОНТАКТЫ (contacts) ----------------------------- */


.address {
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
  width: 1440px;
  height: 416px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: 0 -152px;
}

.contacts {
  position: absolute;
  top: 54px;
  left: 140px;

  padding: 50px;
  background-color: #ffffff;
}

.contacts h3 {
  margin: 0;
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 700px;
  line-height: 30px;
}

.contacts p {
  line-height: 18px;
  color: #666666;
}

.contacts-btn {
  width: 220px;
  margin-top: 37px;
}


/* --------------------- СТРАНИЦА КАТАЛОГА (catalog.html) ------------------ */


.page-title {
  padding-top: 56px;
  padding-bottom: 108px;
  margin: 0;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;

  background-color: #eeeeee;
}

.catalog-columns {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
}

.left-column {
  margin-top: 0px;
  width: 260px;
}

.right-column {
  width: 760px;
}


/* ----------------------- ФИЛЬТР ПО СТОИМОСТИ -------------------------- */


.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 30px;
  margin-bottom: 56px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;

  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 2px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 3px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  margin-left: 10px;
  padding: 10px 10px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 2px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}


/* ----------------- ФИЛЬТРЫ ПО ТИПУ СЕТКИ И ОСОБЕННОСТЯМ ------------- */


.filter legend {
  padding: 0;
  padding-bottom: 20px;
}

.special legend {
  padding-top: 30px;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;

  display: block;

  color: #283136;
  line-height: 20px;

  cursor: pointer;
  user-select: none;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -35px;
  top: -3px;

  width: 16px;
  height: 16px;

  border: 4px solid #b8b8b8;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  left: -27px;
  top: 5px;

  width: 8px;
  height: 8px;

  background-color: #b8b8b8;
  border-radius: 50%;
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  top: -3px;
  left: -34px;

  width: 19px;
  height: 19px;

  border: 2px solid #b8b8b8;
  border-radius: 2px;
}

.filter-input-checkbox:checked + label::before {
  content: "";

  position: absolute;
  width: 26px;
  height: 26px;

  opacity: 0.4;

  border: none;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters-btn {
  margin-top: 34px;
  width: 260px;
  box-sizing: border-box;
  color: #000000;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  background-color: #eeeeee;
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: #dfdfdf;
}

.filters-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d5d5d5;
}


/* --------------------- СОРТИРОВКА МАКЕТОВ (sort) ------------------------- */


.sort {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sort h3 {
  margin: 0;

  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  width: 282px;
  margin: 0;
  padding: 0;
  padding-right: 83px;

  list-style: none;
}

.sort-list li {
  padding-left: 5px;
  padding-right: 5px;

  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
  text-transform: uppercase;
}

.sort-list li.active {
  opacity: 1;
}


/* --------------------------КАТАЛОГ (catalog)------------------------------ */


.catalog-list {
  margin: 0;
  margin-top: 55px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.catalog-item {
  position: relative;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  padding-top: 40px;
}

.catalog-item::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.12;

  width: 360px;
  height: 40px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #4d4d4d;
}

.catalog-item.active::before {
  opacity: 1;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  margin-right: 10px;

  border: 3px solid #dbdbdb;
  border-radius: 2px;
  background-color: #dbdbdb;
}

.pagination-item-current {
  background-color: #ffffff;
}

.pagination-item a {
  line-height: 18px;
  color: #000000;
}


/* -------------------------- ФОРМА ОБРАТНОЙ СВЯЗИ (modal) ----------------- */


.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -220px;
  margin-left: -380px;
  margin-bottom: 500px;
  z-index: 2;
  width: 760px;
  height: 440px;
  padding-top: 65px;
  padding-right: 100px;
  padding-bottom: 85px;
  padding-left: 100px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal h3 {
  margin: 0;
  margin-left: -2px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  padding-bottom: 38px;
}

.message .name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.message p {
  margin: 0;
}

.message label {
  line-height: 18px;
  font-weight: 700;
}

.message .area {
  margin-top: 7px;
  padding: 13px;
  height: 50px;
  box-sizing: border-box;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
  border-radius: 2px;

}

.message input {
  display: block;
  width: 360px;
  margin-bottom: 30px;
}

.message-text .text {
  padding-top: 10px;
  line-height: 18px;
  width: 100%;
  min-height: 118px;
  resize: none;
}

.message-btn {
  width: 260px;
  margin-top: 44px;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;
  width: 25px;
  height: 25px;

  font-size: 0;

  border: 0;
  cursor: pointer;
  background-color: #ffffff;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  content: "";

  width: 5px;
  height: 30px;

  background-color: #fecccd;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}


/* -------------------------------- FOOTER --------------------------------- */


.main-footer {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

.main-footer b {
  font-size: 36px;
  line-height: 36px;
}

.main-footer p {
  line-height: 22px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: 0;
  margin-right: 140px;
  padding: 0;

  list-style: none;
}

.social-button {
  display: block;
  width: 79px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: #e1e1e1;
}

.footer-text b {
  font-weight: 700;
}

.footer-text p {
  margin: 0;
  padding-top: 10px;
}
